.body {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 3;
    max-width: 1200px;
    width: 100%;
    /* place-content: center; */
    margin: auto;
    border-radius: 5px;
    margin-top: 40px;
}